In [1]:
import pandas as pd
import numpy as np
import statistics

In [2]:
names = ['Greg',
        'Marcia',
        'Peter',
        'Jan',
        'Bobby',
        'Cindy',
        'Cousin Oliver']

df = pd.DataFrame(index=names)

df['Age'] = [14, 12, 11, 10, 8, 6, 8]
df

               Age
Greg            14
Marcia          12
Peter           11
Jan             10
Bobby            8
Cindy            6
Cousin Oliver    8

In [3]:
#Question 1
#Create a new dataframe that will show the statistical measurements
df2 = pd.DataFrame()
df2['Mean'] = [np.mean(df['Age'])]
df2['Median'] = [np.median(df['Age'])]
df2['Mode'] = [statistics.mode(df['Age'])]
df2['Variance'] = [np.var(df['Age'])]
df2['StdDev'] = [np.std(df['Age'])]
df2['StdErr'] = [(np.std(df['Age']) / (len(df['Age']) - 1))]
df2

       Mean  Median  Mode  Variance    StdDev    StdErr
0  9.857143    10.0     8  6.408163  2.531435  0.421906

In [4]:
#Question 2a: Which estimate of central tendency would I choose to describe the age of the cast members and why?
    #I would choose the mean to describe the age of the cast members because of the small number of cast members
    #that are being analyzed and because there are no outliers in the data.

#Question 2b: Which estimate of variance would I choose to describe the age of the cast members and why?
    #I would choose the standard deviation to describe the variance in the age of the cast members because of how 
    #close the mean and median are to each other.

In [5]:
#Question 3
#Update Cindy's age after her birthday
df.at['Cindy', 'Age'] = 7
df

               Age
Greg            14
Marcia          12
Peter           11
Jan             10
Bobby            8
Cindy            7
Cousin Oliver    8

In [6]:
#Question 3
#Updated statistical measurements after changing Cindy's age
df3 = pd.DataFrame()
df3['Mean'] = [np.mean(df['Age'])]
df3['Median'] = [np.median(df['Age'])]
df3['Mode'] = [statistics.mode(df['Age'])]
df3['Variance'] = [np.var(df['Age'])]
df3['StdDev'] = [np.std(df['Age'])]
df3['StdErr'] = [(np.std(df['Age']) / (len(df['Age']) - 1))]
df3

   Mean  Median  Mode  Variance    StdDev    StdErr
0  10.0    10.0     8  5.428571  2.329929  0.388322

In [7]:
#Question 3: what changed and what didn't?
    #The median and the mode both stayed the same but the other measurements changed.

In [14]:
#Question 4:
#I attempted to remove the Cousin Oliver row of data and replace it with Jessica but was unable to do it correctly using
#existing pandas functions.
#Instead I recreated a new dataframe with the adjusted data.

#delete the row with Cousin Oliver, to permanently remove the row use inplace = True
df.drop('Cousin Oliver', inplace = True)

#if the indexes were in sequences (0, 1, 2, etc.)
#df.iloc[len(df)] = 1

#if the indexes are in English
df.loc['Jessica'] = 1
df

         Age
Greg      14
Marcia    12
Peter     11
Jan       10
Bobby      8
Cindy      7
Jessica    1

In [141]:
#Question 4
#Recreate dataframe table of measurements using new data.
#Mode was removed because there is now no mode that is calculated in the data.
df5 = pd.DataFrame()
df5['Mean'] = [np.mean(df4['Age'])]
df5['Median'] = [np.median(df4['Age'])]
#df5['Mode'] = [statistics.mode(df4['Age'])]
df5['Variance'] = [np.var(df4['Age'])]
df5['StdDev'] = [np.std(df4['Age'])]
df5['StdErr'] = [(np.std(df4['Age']) / (len(df4['Age']) - 1))]
df5

   Mean  Median   Variance    StdDev    StdErr
0   9.0    10.0  15.428571  3.927922  0.654654

In [142]:
#Question 4: Does this change in the data affect your choice of central tendency or variance estimation methods?
    #Because of the addition of the outlier age of 1, I would now use median as my central tendency estimate.

In [143]:
#Question 5: Based on the numbers provided, what percentage of adult Americans would you estimate were Brady Bunch
#fans on the 50th anniversary of the show?
    #I would first remove the fringe publication of 'SciPhi Phanatic' because it does not represent the normal audience
    #of the Brady Bunch. Then I would take the average of the 3 remaining publications, which would show that about %20
    #of adult Americans were Brady Bunch fans on the 50th anniversary of the show.